@mainColor:#006699;



/* 样式初始化文件 */


* {
    margin: 0px;
    padding: 0px;
    /* 移动端一般会设置盒模型为border-box 防止边框和padding撑大盒子超出屏幕宽度出现滚动条 */
    box-sizing: border-box;
    /*移动端a标签按住的高亮背景色 设置透明即可*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


li {
    list-style: none;
}


input {
    /* 去除输入框的内外边框 */
    border: 0;
    outline: 0;
}


img {
    /* 去掉图片的边框 */
    border: none;
    /* 去掉图片底部3px的间距 */
    vertical-align: middle;
}


a {
    color: #666;
    text-decoration: none;
}

//这是头部的公共样式
#header{
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    background-color:@mainColor;
    z-index: 999;
    h4{
        color: #ffffff;
        line-height: 45px;
        margin: 0;
        text-align: center;
    }
    >a{
        color: #fff;
     
        &.fa-search{
            position: absolute;
            right: 10px;
            top: 14px;
        }
    }
}
//这是底部
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: @mainColor;
    .active{
       a{
        color: darkorange;
       }
    }
    a{
        padding: 7px 0;
        display: block;
        color: white;
        text-align: center;
        i{
            display: block;
            font-size: 14px;
        }
        span{
            display: block;
            font-size: 12px;
        }
    }
}