/* 样式初始化文件 */
* {
  margin: 0px;
  padding: 0px;
  /* 移动端一般会设置盒模型为border-box 防止边框和padding撑大盒子超出屏幕宽度出现滚动条 */
  box-sizing: border-box;
  /*移动端a标签按住的高亮背景色 设置透明即可*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
input {
  /* 去除输入框的内外边框 */
  border: 0;
  outline: 0;
}
img {
  /* 去掉图片的边框 */
  border: none;
  /* 去掉图片底部3px的间距 */
  vertical-align: middle;
}
a {
  color: #666;
  text-decoration: none;
}
#header {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  background-color: #006699;
  z-index: 999;
}
#header h4 {
  color: #ffffff;
  line-height: 45px;
  margin: 0;
  text-align: center;
}
#header > a {
  color: #fff;
}
#header > a.fa-search {
  position: absolute;
  right: 10px;
  top: 14px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #006699;
}
#footer .active a {
  color: darkorange;
}
#footer a {
  padding: 10px 0;
  display: block;
  color: white;
  text-align: center;
}
#footer a i {
  display: block;
  font-size: 14px;
}
#footer a span {
  display: block;
  font-size: 12px;
}
body,
html {
  height: 100%;
}
body {
  padding: 40px 0 50px;
}
main {
  background-color: #fff;
  position: relative;
  height: 100%;
}
main #nav {
  padding: 10px;
}
main #nav a {
  display: block;
}
main #nav a img {
  width: 100%;
}
main #banner {
  padding: 0 10px;
}
main #banner .left a {
  display: block;
}
main #banner .left a img {
  width: 50%;
  float: left;
  height: 120px;
}
main #banner .right a {
  display: block;
}
main #banner .right a img {
  width: 100%;
  height: 240px;
}
main #brand {
  padding: 10px;
}
main #brand .brand-title img {
  width: 100%;
}
main #brand .brand-content a {
  display: block;
}
main #brand .brand-content a > img {
  width: 100%;
}
main #sport .title img,
main #women .title img,
main #man .title img {
  width: 100%;
}
main #sport .content,
main #women .content,
main #man .content {
  padding: 10px 5px;
}
main #sport .content .mui-row > div,
main #women .content .mui-row > div,
main #man .content .mui-row > div {
  padding: 0 5px;
  margin-bottom: 10px;
}
main #sport .content .mui-row .product,
main #women .content .mui-row .product,
main #man .content .mui-row .product {
  display: block;
  text-align: center;
  box-shadow: 0 0 5px #ccc;
  padding: 10px 10px;
}
main #sport .content .mui-row .product .product-img img,
main #women .content .mui-row .product .product-img img,
main #man .content .mui-row .product .product-img img {
  width: 100%;
}
main #sport .content .mui-row .product .product-title,
main #women .content .mui-row .product .product-title,
main #man .content .mui-row .product .product-title {
  font-size: 14px;
}
main #sport .content .mui-row .product .price span,
main #women .content .mui-row .product .price span,
main #man .content .mui-row .product .price span {
  color: red;
}
main #sport .content .mui-row .product .price del,
main #women .content .mui-row .product .price del,
main #man .content .mui-row .product .price del {
  color: #ccc;
}
main #sport .content .mui-row .product .product-buy,
main #women .content .mui-row .product .product-buy,
main #man .content .mui-row .product .product-buy {
  background-color: #006699;
}
